.color {
	&--primary {
		color: var(--color-primary);
	}
}

.text {
	font-family: var(--font-secondary);
	max-width: 400px;

	&--color {
		color: var(--color-on-text);
	}
}

.highlight {
	font-weight: 600;
}
