// SCSS Link-button

.btn {
	background-color: var(--color-primary);
	color: var(--color-on-primary);
	padding: 12px 20px;
	border-radius: 30px;
	text-decoration: none;
	font-size: 14px;
	width: fit-content;
	display: flex;
}
