// App.scss

.body {
	font-family: var(--font-text);
	font-size: 18px;
	line-height: 1.5;
	color: var(--color-on-background);
	background-color: var(--color-background);
}

.title {
	font-family: var(--font-title);
	font-size: var(--font-size-h1);
	line-height: normal;
	font-weight: 500;
	max-width: 456px;
}

.main {
	padding: 16px;
	max-width: 412px;
	margin: auto;
}

.section {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0 20px 20px 20px;
	width: 456px;
}

.lien,
.lien > * {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.main {
		max-width: 768px;
	}
}

@media screen and (min-width: 1400px) {
	.main {
		padding: 100px 32px 0px 32px;
		max-width: 1280px;
	}
	.container {
		margin: 0;
		grid-column: 1 / 4;
	}
	.three {
		grid-column: 4 / 13;
	}
	.section {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
}
